<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AddProduct</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


</head>
<body>
<header>
    <!-- Nav tabs -->
    <nav class="navbar">
        <div class="container-fluid">
            <h3 align="center">ADMIN ({{ isAuth }})</h3>
            <ul class="nav nav-tabs|pills" id="navId">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Products</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/myadmin/addproduct/">Add</a>
                        <a class="dropdown-item" href="/myadmin/updateproduct/">Update</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/myadmin/addgalleryimg/">Add</a>
                        <a class="dropdown-item" href="/myadmin/delgalleryimg/">Remove</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Tables</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/myadmin/stafftable/">Staff</a>
                        <a class="dropdown-item" href="/myadmin/customertable/">Customer</a>
                        <a class="dropdown-item" href="/myadmin/productstable/">Products</a>
                        <a class="dropdown-item" href="/myadmin/gallerytable/">Gallery</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href='/myadmin/adminlogout/' class="nav-link">Logout</a>
                </li>

            </ul>

        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
    </div>

    <script>
    	$('#navId a').click(e => {
    		e.preventDefault();
    		$(this).tab('show');
    	});


    </script>
</header>

<div class="container">
    <h3>{{pagename|title}}</h3>
    {% if success %}
    <div class="alert alert-success" role="alert">
        <strong>Product added!!</strong>
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not UpdateMode %}
        <div class="form-group">
            <label for="">Product ID</label>
            <input type="text" class="form-control" name="pid" id="" aria-describedby="helpId" placeholder="">
        </div>
        {% endif %}

        {% if UpdateMode %}
            <h3 class="text-success">PID: {{pid}}</h3>
        {% endif %}

        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="">Type</label>
            <input type="text" class="form-control" name="type" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="">Description</label>
            <input type="text" class="form-control" name="description" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="">Long Description</label>
            <input type="text" class="form-control" name="longdesc" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="">Price</label>
            <input type="text" class="form-control" name="price" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="">Delivery Cost</label>
            <input type="text" class="form-control" name="delprice" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="">Image</label>
            <input type="file" class="form-control-file" name="image" id="" placeholder="" aria-describedby="fileHelpId">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>